<% if current_user %>

    <h2> Mini-Insta</h2>
    <hr>
    
    <% @post.each do |post| %>
        <div class="image_style">
            <%= image_tag post.image.url(:medium) %>
            <br>
            <%= post.description %>
        </div>
        <br>
        <br>
    <% end %>
    
<% else %>

    <h2> MiniInsta</h2>
    <h4> Login to upload pictures!</h4>
    <hr>
    
    <% @post.each do |post| %>
        <div class="image_style">
            <%= image_tag post.image.url(:medium) %>
            <br>
            <%= post.description %>
        </div>
        <br>
        <br>
    <% end %>
    
<% end %>