<% if current_user %>
    <h2> Mini-Insta</h2>
    <hr>
    <% @post.each do |post| %>
        <%= image_tag post.image.url(:medium), class: "image_style" %>
        <br>
        <%= post.description %>
        <br>
    <% end %>
<% else %>
    <h2> MiniInsta</h2>
    <h4> Login to upload pictures!</h4>
    <hr>
    <% @post.each do |post| %>
        <%= image_tag post.image.url(:medium), class: "image_style" %>
        <br>
        <%= post.description %>
        <br>
    <% end %>
<% end %>